
@{
    ViewBag.Title = "Portfolio";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content='pavilan'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Tag  -->
    <title>Bizwheel - Multipurpose Business & Digital Agency Html5 Template</title>

    <!-- Favicon -->
    <link rel="icon" type="image/favicon.png" href="~/img/favicon.png">

    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bizwheel Plugins CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/css/owl-carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">

    <!-- Bizwheel Stylesheet -->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Bizwheel Colors -->
    <!--<link rel="stylesheet" href="css/skins/skin-1.css">
    <!--<link rel="stylesheet" href="css/skins/skin-2.css">-->
    <!--<link rel="stylesheet" href="css/skins/skin-3.css">-->
    <!--<link rel="stylesheet" href="css/skins/skin-4.css">-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        <!-- Breadcrumb -->
        <div class="breadcrumbs overlay" style="background-image:url('https://via.placeholder.com/1600x500')">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bread-inner">
                            <!-- Bread Menu -->
                            <div class="bread-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                </ul>
                            </div>
                            <!-- Bread Title -->
                            <div class="bread-title"><h2>Our Works</h2></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Breadcrumb -->
        <!-- Portfolio -->
        <section class="portfolio section-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-12">
                        <div class="section-title default text-center">
                            <div class="section-top">
                                <h1><span>Project</span><b>Our Works</b></h1>
                            </div>
                            <div class="section-bottom">
                                <div class="text">
                                    <p>Lorem Ipsum Dolor Sit Amet, Conse Ctetur Adipiscing Elit, Sed Do Eiusmod Tempor Ares Incididunt Utlabore. Dolore Magna Ones Baliqua</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="portfolio-menu">
                            <!-- Portfolio Nav -->
                            <ul id="portfolio-nav" class="portfolio-nav tr-list list-inline cbp-l-filters-work">
                                <li data-filter="*" class="cbp-filter-item active">All</li>
                                <li data-filter=".animation" class="cbp-filter-item">Animation</li>
                                <li data-filter=".branding" class="cbp-filter-item">Branding</li>
                                <li data-filter=".business" class="cbp-filter-item">Business</li>
                                <li data-filter=".consulting" class="cbp-filter-item">Consulting</li>
                                <li data-filter=".marketing" class="cbp-filter-item">Marketing</li>
                                <li data-filter=".seo" class="cbp-filter-item">SEO</li>
                            </ul>
                            <!--/ End Portfolio Nav -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="portfolio-main">
                            <div id="portfolio-item" class="portfolio-item-active">
                                <div class="cbp-item business animation">
                                    <!-- Single Portfolio -->
                                    <div class="single-portfolio">
                                        <div class="portfolio-head overlay">
                                            <img src="https://via.placeholder.com/600x415" alt="#">
                                            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="portfolio-content">
                                            <h4><a href="portfolio-single.html">Creative Marketing</a></h4>
                                            <p>Business, Aniamtion</p>
                                        </div>
                                    </div>
                                    <!--/ End Single Portfolio -->
                                </div>
                                <div class="cbp-item seo consulting">
                                    <!-- Single Portfolio -->
                                    <div class="single-portfolio">
                                        <div class="portfolio-head overlay">
                                            <img src="https://via.placeholder.com/600x415" alt="#">
                                            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="portfolio-content">
                                            <h4><a href="portfolio-single.html">Creative Marketing</a></h4>
                                            <p>Seo, Consulting</p>
                                        </div>
                                    </div>
                                    <!--/ End Single Portfolio -->
                                </div>
                                <div class="cbp-item marketing seo">
                                    <!-- Single Portfolio -->
                                    <div class="single-portfolio">
                                        <div class="portfolio-head overlay">
                                            <img src="https://via.placeholder.com/600x415" alt="#">
                                            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="portfolio-content">
                                            <h4><a href="portfolio-single.html">Creative Marketing</a></h4>
                                            <p>Marketing, SEO</p>
                                        </div>
                                    </div>
                                    <!--/ End Single Portfolio -->
                                </div>
                                <div class="cbp-item animation branding">
                                    <!-- Single Portfolio -->
                                    <div class="single-portfolio">
                                        <div class="portfolio-head overlay">
                                            <img src="https://via.placeholder.com/600x415" alt="#">
                                            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="portfolio-content">
                                            <h4><a href="portfolio-single.html">Creative Marketing</a></h4>
                                            <p>Animation, Branding</p>
                                        </div>
                                    </div>
                                    <!--/ End Single Portfolio -->
                                </div>
                                <div class="cbp-item branding consulting">
                                    <!-- Single Portfolio -->
                                    <div class="single-portfolio">
                                        <div class="portfolio-head overlay">
                                            <img src="https://via.placeholder.com/600x415" alt="#">
                                            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="portfolio-content">
                                            <h4><a href="portfolio-single.html">Creative Marketing</a></h4>
                                            <p>Branding, Consulting</p>
                                        </div>
                                    </div>
                                    <!--/ End Single Portfolio -->
                                </div>
                                <div class="cbp-item business marketing">
                                    <!-- Single Portfolio -->
                                    <div class="single-portfolio">
                                        <div class="portfolio-head overlay">
                                            <img src="https://via.placeholder.com/600x415" alt="#">
                                            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                        <div class="portfolio-content">
                                            <h4><a href="portfolio-single.html">Creative Marketing</a></h4>
                                            <p>Business</p>
                                        </div>
                                    </div>
                                    <!--/ End Single Portfolio -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Portfolio -->
        <!-- Jquery JS -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.0.js"></script>
        <!-- Popper JS -->
        <script src="~/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- Modernizr JS -->
        <script src="~/js/modernizr.min.js"></script>
        <!-- ScrollUp JS -->
        <script src="~/js/scrollup.js"></script>
        <!-- FacnyBox JS -->
        <script src="~/js/jquery-fancybox.min.js"></script>
        <!-- Cube Portfolio JS -->
        <script src="~/js/cubeportfolio.min.js"></script>
        <!-- Slick Nav JS -->
        <script src="~/js/slicknav.min.js"></script>
        <!-- Slick Nav JS -->
        <script src="~/js/slicknav.min.js"></script>
        <!-- Slick Slider JS -->
        <script src="~/js/owl-carousel.min.js"></script>
        <!-- Easing JS -->
        <script src="~/js/easing.js"></script>
        <!-- Magnipic Popup JS -->
        <script src="~/js/magnific-popup.min.js"></script>
        <!-- Active JS -->
        <script src="~/js/active.js"></script>
</body>
</html>